.modal {
    position: relative;
    margin: 0 auto;
    position: fixed;
    top: 15%;
    left: 35%;
    width: 500px;
    height: 250px;
    border-radius: 5px;
    z-index: 2;
    color: white;
  }
  
  .modal-header {
    display: flex;
    padding-top: 20px;
  }
  
  .modal-header::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: black;
    opacity: 0.2;
  }
  
  .title {
    display: inline-block;
    margin: 0 auto;
  }
  
  .text {
    width: 400px;
    text-align: center;
    margin: 40px auto;
  }
  
  .modal-btns {
    position: relative;
    margin: 0 auto;
    width: 220px;
    display: flex;
  }